.path {
    display: flex;
}

.path a {
    font-size: 16px;
    color: #6f85ad;
    transition: 1s;
}

.path a:hover {
    text-decoration: none;
}

.path p {
    padding: 0 1rem;
}

.title {
    margin: 0;
    background-color: rgba(243, 240, 240, 0.534);
    padding: 2vh 12%;
}

.pipe h3 {
    width: 75%;
    margin: 0 auto;
    padding-bottom: 5vh;
    font-size: 18px;
}

.container img {
    padding-bottom: 5vh;
}